
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crypfi</title>
    <style>
      html,
      body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0 auto !important;
        padding: 0 !important;
        height: auto;
        width: 100% !important;
      }
      /* What it does: Stops email clients resizing small text. */
      * {
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        box-sizing: border-box;
      }
      /* What it does: Centers email on Android 4.4 */
      div[style*="margin: 16px 0"] {
        margin: 0 !important;
      }
      /* What it does: Stops Outlook from adding extra spacing to tables. */
      table,
      td {
        mso-table-lspace: 0pt !important;
        mso-table-rspace: 0pt !important;
      }
      /* What it does: Fixes webkit padding issue. */
      table {
        border-spacing: 0 !important;
        /* border-collapse: collapse !important; */
        table-layout: fixed !important;
        margin: 0 auto !important;
      }
      /* What it does: Uses a better rendering method when resizing images in IE. */
      img {
        -ms-interpolation-mode: bicubic;
        max-width: 100%;
      }
      /* What it does: Prevents Windows 10 Mail from underlining links despite inline CSS. Styles for underlined links should be inline. */
      a {
        text-decoration: none;
      }
      /* What it does: A work-around for email clients meddling in triggered links. */
      *[x-apple-data-detectors],
        /* iOS */
        .unstyle-auto-detected-links *,
        .aBn {
        border-bottom: 0 !important;
        cursor: default !important;
        color: inherit !important;
        text-decoration: none !important;
        font-size: inherit !important;
        font-family: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
      }
      /* What it does: Prevents Gmail from displaying a download button on large, non-linked images. */
      .a6S {
        display: none !important;
        opacity: 0.01 !important;
      }
      /* What it does: Prevents Gmail from changing the text color in conversation threads. */
      .im {
        color: inherit !important;
      }
      /* If the above doesn't work, add a .g-img class to any image in question. */
      img.g-img + div {
        display: none !important;
      }
      .btn-spacing {
        padding: 42px 0 60px;
      }
      /* What it does: Removes right gutter in Gmail iOS app: https://github.com/TedGoas/Cerberus/issues/89  */
      /* Create one of these media queries for each additional viewport size you'd like to fix */
      /* iPhone 4, 4S, 5, 5S, 5C, and 5SE */
      @media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
        u ~ div .email-container {
          min-width: 320px !important;
        }
      }
      /* iPhone 6, 6S, 7, 8, and X */
      @media only screen and (min-device-width: 375px) and (max-device-width: 413px) {
        u ~ div .email-container {
          min-width: 375px !important;
        }
      }
      /* iPhone 6+, 7+, and 8+ */
      @media only screen and (min-device-width: 414px) {
        u ~ div .email-container {
          min-width: 414px !important;
        }
      }
    </style>
    <style>
      @media screen and (max-width: 991px) {
        /* .main-handle {
         margin:
         15px 30px !important;
         } */
        .logo {
          max-width: 140px;
        }

        .main-img {
          max-width: 100px !important;
        }
        .logo-outer h4 {
          font-size: 20px !important;
        }
        .follow_text {
          font-size: 14px !important;
          font-weight: 600;
        }
        .social-icons {
          font-size: 20px !important;
        }
        .folow_sec {
          font-size: 20px !important;
        }
      }
      .social-icons img {
        width: 22px;
        height: 22px;
      }
    </style>
  </head>
  <body>
    <table
      class="main-handle"
      style="
        border: 0;
        max-width: 640px;
        width: 100%;
        margin: 15px auto !important;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0;
        border-collapse: separate !important;
        background-image: url(./images/top-right.png),
          url(./images/bottom-left.png);
        background-repeat: no-repeat;
        background-position: top right, left bottom;
        background-color: #fff;
        background-size: 274px 346px, 270px 548px;
      "
    >
      <tbody>
        <tr>
          <td
            class="logo-outer"
            style="width: 100%; text-align: center; padding: 0 15px"
          >
            <img
              class="logo"
              src="./images/logo.png"
              alt="logo"
              style="margin-top: 60px"
            />
          </td>
        </tr>
        <tr>
          <td style="height: 20px"></td>
        </tr>
        <tr>
          <td style="padding: 0 15px">
            <table
              style="
                border: 0;
                max-width: 560px;
                width: 100%;
                font-family: Arial, Helvetica, sans-serif;
                padding: 0 !important;
                border-collapse: collapse !important;
                background-color: rgba(255, 255, 255, 0.1);
                border-radius: 20px;
              "
            >
              <tbody>
            
                <tr>
                  <td style="padding: 0 15px 0 15px">
                    <p
                      style="
                        font-family: Arial, Helvetica, sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                        color: #141416;
                        margin: 0 auto;
                        max-width: 435px;
                        padding-top: 8px;
                        display: block;
                      "
                    >
                      <strong style="color: #ff5f00; font-weight: 400"
                        >Best Regards,</strong
                      >
                    </p>
                    <p
                      style="
                        font-family: Arial, Helvetica, sans-serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                        color: #141416;
                        margin: 0 auto;
                        max-width: 435px;
                        padding-top: 0;
                      "
                    >
                      Team CrypFi
                    </p>
                  </td>
                </tr>
                <tr>
                  <td style="height: 40px"></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td style="height: 40px"></td>
        </tr>
        <!-- <tr>
          <td style="padding: 0 15px">
            <table
              style="
                border: 0;
                max-width: 560px;
                width: 100%;
                border-collapse: collapse !important;
                background-color: rgba(255, 255, 255, 0.1);
                border-radius: 20px;
              "
            >
              <tbody>
                <tr>
                  <td
                    class="folow_sec"
                    style="
                      color: #fff;
                      font-size: 24px;
                      font-weight: 400;
                      text-align: center;
                      padding: 38px 15px 30px 15px;
                      font-family: Arial, Helvetica, sans-serif;
                    "
                  >
                    Follow Us.
                  </td>
                </tr>
                <tr>
                  <td class="follow_text" style="padding: 0 15px">
                    <p
                      style="
                        line-height: 20px;
                        padding-bottom: 45px !important;
                        color: #c4c6c7;
                        font-weight: 400;
                        text-align: center;
                        margin-top: 20px;
                        max-width: 468px;
                        margin: 0 auto;
                        font-size: 16px;
                        font-family: Arial, Helvetica, sans-serif;
                      "
                    >
                      Join our vibrant Dabbler community and embark on a journey
                      of automotive excellence.
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td
            class="social-icons"
            style="padding: 25px 15px 0 15px; text-align: center"
          >
            <span
              style="
                font-size: 20px;
                font-weight: 400;
                display: block;
                color: rgba(255, 255, 255, 0.3);
                font-family: Arial, Helvetica, sans-serif;
              "
              >Join our community
            </span>
          </td>
        </tr>
        <tr>
          <td
            style="padding-bottom: 75px; padding-top: 13px; text-align: center"
          >
            <a href="#" style="display: inline-block"
              ><img
                src="https://firebasestorage.googleapis.com/v0/b/learnant-c1b41.appspot.com/o/discord.png?alt=media&token=55c35f4c-db6b-44d0-9bab-5ce2195fcbc1"
                alt=""
            /></a>
            <a href="#" style="display: inline-block"
              ><img
                src="https://firebasestorage.googleapis.com/v0/b/learnant-c1b41.appspot.com/o/telegram.png?alt=media&token=1a0f1c5e-f8a6-49f0-935c-e9e19ffa2c2e"
                alt=""
            /></a>
          </td>
        </tr> -->
      </tbody>
    </table>
  </body>
</html>
